.city-list {
  width: 375px;

  .city-list__input {
    padding: 5px;
    margin-right: 10px;
    border-bottom: 1px solid #ababab;
  }

  .city-list__add-button {
    padding: 7px;
    background: #e9e9e9;
    border-radius: 5px;
  }

  .city-list__draggable {
    margin-top: 15px;

    .city-list__item {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      width: 300px;
      background: #e9e9e9;
      box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.75);

      .city-list__drag-handle {
        cursor: grabbing;
        margin-right: 15px;
        margin-left: 10px;

      }

      .city-list__remove-button {
        margin-right: 15px;
        color: red;
        font-size: 20px;

      }

    }
  }

}