.weather-widget-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;

  .weather-widget-list__toggle-button {
    padding: 7px;
    background: #e9e9e9;
    border-radius: 5px;
    margin-bottom: 15px;

    .toggle-button__xmark {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .toggle-button__xmark-icon {
      margin-left: 10px;
    }
  }

  .weather-widget-list__edit {
    display: flex;
    justify-content: center;
  }

  .weather-widget-list__cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    .weather-widget-list__card {
    }
  }

}




